.speaking {
		width: 300px;
		text-align: left;
		margin-left: 30px;

		@media print {
			margin-left: 0;
			border-right: 10px solid transparent; /* Hack, provides margin */
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 1.5em;
			margin-left: 0;
		}

		.company {
			font-weight: 800;
		}

		.period {
			display: none;
		}

		.responsibilities {
			& {
				padding-left: 0;
			}
			li {
				list-style: none;
				border-left: thick solid #00AA00;
				padding-left: 10px;
			}
		}
}

