@page { margin: 0; }
@media print {
}

.timeline .years {
	flex-direction: row;
	display: flex;
	margin-top: 2em;
}
.timeline .year {
	display: block;
	flex-grow: 1;
	position: relative;
	text-align: center;
}
.timeline .year::before {
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	top: -1.5em;
	width: 1px;
	height: 0.8em;
	background: #222;
}
.timeline .period {
	background: #999;
	left: 42%;
	position: absolute;
	width: 24%;
	text-align: center;
	padding: 0.2em 0;
}
.timeline .period a {
	text-decoration: none;
	color: #000;
}
