job {
  position: relative;
}

.job-content {
    & {
		display: flex;
		flex-direction: row;
        height: 100vh;
        width: 100%;
		margin-bottom: 3rem;
		@media print {
			margin-bottom: 1.5rem;
		}
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}

	.metadata {
		width: 350px;
		text-align: left;
		margin-left: 30px;

		@media screen and (max-width: 767px) {
			margin-left: 0;
			padding-bottom: 1.5em;
		}

		@media print {
			max-width: 70mm;
			padding-right: 8mm;
			margin-left: 0; /* Tighter horizontal space, line up left edge */
		}

		p {
			padding-bottom: 0.5em;
		}

		.company {
			font-weight: 800;
			margin: 0;
			/* margin-top: 2.5em; */
			@media print {
				margin-top: 1em;
			}
		}

		.title {
			font-weight: 800;
			margin: 0;
		}

		.period {
			/* display: none; */
		}

		.description {
			padding-right: 50px;
		}

		.responsibilities {
			& {
				padding-left: 0;
			}
			li {
				list-style: none;
				border-left: thick solid #00AA00;
				padding-left: 10px;
			}
		}

		.link {
			// overflow-wrap: break-word;
			overflow-wrap: anywhere;
			word-break: break-all;
		}
	}

	.description {
		flex-grow: 1;
		margin: 0;

		* {
			margin: 0 auto;
			text-align: justify;
			margin-bottom: 1.2em;
			max-width: 600px;
			@media print {
				max-width: 700px;
			}
			&:last-child {
				margin-bottom: 0; /* Flex won't collapse margins */
			}
		}


		ul {
			list-style: outside;
			margin-top: -0.7em; /* Get closer: 1.5-0.8em */
			li {
				margin-bottom: 0.5em; /* Override * 1.5em */
				margin-left: 1em; /* Line bullets up with adjacent <p> */
			}
		}

		.tools {
			ul {
				margin-top: -1.2em; /* Get closer: 1.5-0.3em */
			}
			li {
				margin-bottom: 0.3em; /* Make it tighter */
			}
		}
	}
}

.bgWrap {
  /* position: fixed; */
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
}
