.job {
	& {
		display: flex;
		flex-direction: row;
		margin-bottom: 3rem;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}

	.metadata {
		width: 350px;
		@media print {
			max-width: 70mm;
			padding-right: 8mm;
		}
		text-align: left;
		margin-left: 30px;

		@media screen and (max-width: 767px) {
			margin-left: 0;
			padding-bottom: 1.5em;
		}

		@media print {
			/* Tighter horizontal space, line up left edge */
			margin-left: 0;
		}


		.company {
			font-weight: 800;
			margin: 0;
		}

		.period {
			/* display: none; */
		}

		.responsibilities {
			& {
				padding-left: 0;
			}
			li {
				list-style: none;
				border-left: thick solid #00AA00;
				padding-left: 10px;
			}
		}

		.link {
			// overflow-wrap: break-word;
			overflow-wrap: anywhere;
			word-break: break-all;
		}
	}

	.description {
		flex-grow: 1;
		margin: 0;

		p {
			max-width: 600px;
			@media print {
				max-width: 700px;
			}
			margin: 0 auto;
			text-align: justify;
			margin-bottom: 1.5em;
			&:last-child {
				margin-bottom: 0; /* Flex won't collapse margins */
			}
		}
	}


}
