@import "../variables.scss";

.skill {

    display: flex;
    flex-direction: row;
    width: 300px;

	.spacer {
		flex-grow: 1;
	}

	.star {
		display: None;
		border-radius: 50%;
		width: 0.8em;
		height: 0.8em;
		background-color: #63cdff;
		margin: auto 0.1em;
	}


	.heading {
		font-weight: 800;
	}

}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 20px;
	justify-content: space-between;

	@media print {
		margin-left: 0;
	}

	.group {
		display: block;
		margin: 10px;

		@media print {
			margin-left: 0;
		}

		@media screen and (max-width: 767px) {
			margin-left: 0;
		}

	}

	@media screen and (max-width: 767px) {
		margin-left: 0;
	}
}
