.qualifications {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.qualification {
	& {
		margin: 0.8em 0;
		padding: 1em;
		width: 35%;
	}

	.title {
		font-weight: 800;
		display: block;
	}
	.institution {
		display: block;
	}
	.details {
		display: block;
	}
	.start + .end::before {
		content: " - ";
	}
}
