@use "variables";

* {
  box-sizing: border-box;
}

/* Hide bits that are incomplete/unconverted */
Titleblock, Timeline, .titleblock, .timeline { display: none !important }


html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
body {
  scroll-snap-type: y mandatory; /* for safari */
}
@mixin snap-group {
  border-bottom: 1px solid white;
  padding: 1rem;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-align: start;
  position: relative;
}
.job-content, .titleblock, .timeline {
  @include snap-group
}
job {
}
job .metadata {
  padding-bottom: 0.5em;
}
job .metadata .company {
  margin-top: 0;
}

/*
h1, h2 {
  text-align: center;
}
*/
job#capricorn {
  // background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("images/capricorn-drone-brown1.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("images/capricorn-drone-green1-crop.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;  /* Pure white is boring but easier to read */
}
job#planet {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("images/planet_otowa.jpg");
  background-size: cover;
  /* color: #d4dfeb; /* Lightened version of snow blue from image */
  color: #fff;  /* Pure white is boring but easier to read */
}
job#fd {
  background-image: linear-gradient( rgba(0, 17, 55, 0.8), rgba(0, 17, 55, 0.8) ), url("images/fd-logo-9.png");
  background-size: cover;
  background-position: center;
  color: #fff;  /* Pure white is boring but easier to read */
}
job#unsw {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("images/unsw-1616471297782.jpeg");
  background-size: cover;
  background-position: bottom;
  color: #fff;  /* Pure white is boring but easier to read */
}
job#m5-network-security {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("images/m5-SCS400.jpg");
  background-size: cover;
  background-position: bottom;
  color: #fff;  /* Pure white is boring but easier to read */
}
job#aad {
  background-image: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url("images/aad-ia28318.1920x768.jpeg");
  background-size: cover;
  background-position: center;
  color: #000;
}
job#inventing {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url("images/microwave-notebook.jpg");
  background-size: cover;
  background-position: center;
  color: #000;
}
job#ses {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("images/ses-truck.jpg");
  background-size: cover;
  background-position: center;
  color: #000;
}


job .metadata .title, job .metadata .responsibilities, job .metadata .link {
  display: none;
}


/* Printing support sucks across browsers
 * wkhtmltopdf doesn't support @page at all
 * firefox will remove the awful headers if you set margin 0
 *   but then the margins all suck. They used to have moznomarginboxes but
 *   removed support a few years ago because pdfjs didn't need it any more
 *   and obviously nobody else would want similar functionality.
 * chrome has a nice tick box to remove the headers on print, but no way to
 *   suggest its state from the document.
 */
@page {
	size: A4 portrait; /* poorly supported */
	margin: 0; /* removes header and footer */
	margin-top: 15mm;
	/*
	margin-left: 5mm;
	margin-right: 5mm;
	*/
	margin-left: 18mm;
	margin-right: 18mm;
	margin-bottom: 10mm;
}

/* So, ideally we want to margin the first page differently,
 * This doesn't work currently
 * Supplied pdf is generated manually in two batches and smooshed
 */
@page:first {
	margin-top: 10mm; /* doesn't seem to work :( */
}
@page :not(:first) {
	margin-top: 20mm;
	margin-bottom: 20mm;
}

@media print {
	body {
		color: #000; /* When printing, actually go black */
		margin-left:  3cm;
		margin-right: 3cm;
		font-size: 14px;
		/* body { transform: scale(0.8) } /* Sneaking way to gain margins */
		/* font-size: 0.7em; */
	}
}

.App {
	max-width: 1000px;
	margin: 0 auto;
}


body {
	/*
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	letter-spacing: 0.01em;
	*/
	font-family: "Lato", sans-serif;
	font-weight: 400;
	// margin: 1rem;

	/* Fix underscores under links */
	text-decoration-skip-ink: none;
}

h1 {
	font-family: variables.$font-heading;
	font-size: 120%;
	font-weight: 800;
	margin: 1.3em 0;
}

h2 {
	font-family: inherit; /* Use base font */
	font-weight: 800;
}

.row {
	display: flex;
	flex-direction: row;
	div {
		flex-grow: 1;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
}

.titleblock {
	& {
		display: flex;
		margin-bottom: 1rem;
		flex-direction: column;
	}



	@media screen and (max-width: 767px) {
		flex-direction: column;
	}

	.name {
		font-family: variables.$font-heading;
		font-size: 48px;
		letter-spacing: 0.05em;
		margin-bottom: 1rem;
	}
	.role {
		font-family: variables.$font-heading;
		font-size: 32px;
		letter-spacing: 0.02em;
		margin: 1rem 0;
		margin-bottom: 0; /* summary paragraphs have a top margin, doesn't collapse for some reason */
	}
	.summary {
		max-width: 500px;
		line-height: 1.3;
		p {
			margin-top: 1em;
		}
	}
	
	dl {
		margin-left: auto; /* right align flex */
		margin-right: 30px;
		@media print {
			margin-right: 0;
		}
	}

	dt {
		float: left;
		clear: left;
		width: 100px;
		text-align: right;
		font-weight: bold;
		color: green;
	}
	/* dt::after { content: ":"; } */
	dd {
		margin: 0 0 0 110px;
		padding: 0 0 0.5em 0;
	}
}

.printonly {
	@media not print {
		display: none;
	}
}

.screenonly {
	@media print {
		display: none;
	}
}

.pagebreak {
	@media print {
		page-break-before: always;
	}
	@media not print {
	}
}

.vspace {
	margin-top: 50px;
}
