body {
	font-family: sans-serif;
	color: #236; /* Don't use black - going with a blue tint */
}

a:link    { color: #3556bc }
a:visited { color: #3556bc }
a:hover   { color: #3556bc }
a:focus   { color: #3556bc }
a:active  { color: #3556bc }
